<h2>{{ @title }}</h2>

<ul class="people-list">
  {{#each @people as |person|}}
    <li class="person">
      <button type="button" {{on 'click' (fn this.showPerson person)}}>{{person}}</button>
    </li>
  {{/each}}
</ul>